.nga_edui_box{  /*工具条全局*/
	height:50px;
	padding:0;
	margin:0;
	border:none;
}
.nga_edui_box1{  /*工具条全局*/
	padding:0;
	margin:0;
	border:none;
}
.nga_edui_list{   /*选择列表*/
	display:inline-block!important;
}
.nga_edui_font{
	display:inline-block!important;
}
.nga_edui_list{
	display:inline-block!important;
}
.nga_edui_list{
	display:inline-block!important;
}
.nga_edui_icon{   /*图标全局*/
	background-image: url('https://ngaplugins.googlecode.com/svn/trunk/editor/eimg/icons.png');
	width:20px;
	height:20px;
	border:1px solid #FFF8E5;
	display:inline-block!important;
}
.nga_edui_chexiao{  /*撤销*/
	background-position:-160px 0;
}
.nga_edui_huifu{  /*重做*/
	background-position:-100px 0px;
}
.nga_edui_disabled {  /*禁用（透明度）*/
	opacity: 0.3;
	-ms-filter: 'alpha(opacity=30)';
	filter: alpha(opacity=30);
}
.nga_edui_fenge{  /*分隔符*/
	width:2px;
	background-position:-180px 0px;
}
.nga_edui_mojo{  /*表情*/
	background-position:-60px -20px;
}
.nga_edui_text{  /*短语*/
	background-position:-700px 0px;
}
.nga_edui_fb{  /*粗体*/
	background-position:0px 0px;
}
.nga_edui_fi{  /*斜体*/
	background-position:-60px 0px;
}
.nga_edui_fu{  /*下划线*/
	background-position:-140px 0px;
}
.nga_edui_fd{  /*删除线*/
	background-position:-120px 0px;
}
.nga_edui_l{  /*左对齐*/
	background-position:-460px 0px;
}
.nga_edui_b{  /*中对齐*/
	background-position:-420px 0px;
}
.nga_edui_r{  /*右对齐*/
	background-position:-480px 0px;
}
.nga_edui_fl{  /*左浮动*/
	background-position:-500px -40px;
}
.nga_edui_fr{  /*右浮动*/
	background-position:-520px -40px;
}
.nga_edui_h{
	background-position:0px -40px;
}
.nga_edui_roll{
	background-position:0px -20px;
}
.nga_edui_msg{
	background-position:-80px -20px;
}
.nga_edui_pse{
	background-position:-20px -40px;
}
.nga_edui_link{
	background-position:-500px 0px;
}
.nga_edui_img{
	background-position:-380px 0px;
}
.nga_edui_flash{
	background-position:-320px -20px;
}
.nga_edui_heng{
	background-position:-360px 0px;
}
.nga_edui_quote{
	background-position:-220px 0px;
}
.nga_edui_code{
	background-position:-440px -40px;
}
.nga_edui_lists{
	background-position:-20px 0px;
}
.nga_edui_listsa{  /*有序列表*/
	background-position:-80px 0px;
}
.nga_edui_t{
	background-position:-640px -40px;
}
.nga_edui_album{
	background-position:-860px 0px;
}
.nga_edui_table{
	background-position:-660px 0px;
}
.nga_edui_tid{
	background-position:-180px -20px;
}
.nga_edui_pid{
	background-position:-200px -20px;
}
.nga_edui_customachieve{
	background-position:-920px 0px;
}
.nga_edui_db3{
	background-position:-980px 0px;
}
.nga_edui_crypt{
	background-position:-840px 0px;
}
.nga_edui_randomblock{
	background-position:-560px 0px;
}

.nga_edit_table{
	display : block;
	border : 1px solid #777;
	box-shadow : 5px 5px 5px #444;
	position:absolute;
	z-index:10;
	background:#FFF8E5;
	width:800px;
	text-align:left;
}

.nga_plug_quick_text_a{
	display:block;
	color:gray;
	float:left;
	border:1px solid #aaa;
	padding:0 2px;
	margin:2px;
	align:center;
}

.nga_plug_quick_text_a > div{
	display: none;
	background-image: url('https://ngaplugins.googlecode.com/svn/trunk/bl.png');
	width: 12px;
	height: 12px;
	margin-left: 2px;
}

.nga_plug_quick_text_a:hover > div{
	display: inline-block!important;
}
.nga_plug_quick_text_a > div:nth-of-type(1) {
	background-position: -12px 0;
	margin-left:10px;
}